{% extends 'UCSCResultBundle::layout2.html.twig' %}
{% form_theme form 'UCSCResultBundle:Form:fields.html.twig' %}
{% block title %}
{% endblock %}     
{% block body %}
    
<body bgcolor="green">
<form action="{{ path('enrole_course_select',{'count':count}) }}" method="post" {{ form_enctype(form) }}>
	
	<table border="1">
		<tr>
			<th>Selected</th>
			<th>Course ID</th>
			<th>Course Name</th>
			<th>Lecture</th>
		</tr>
		{% for course in form.courses %}
		<div>
 			<tr>
   				<td>{{ form_row(course.selected) }}</td>
   				<td>{{ form_row(course.courseID) }}</td>
   				<td>{{ form_row(course.courseName) }}</td>
   				<td>{{ form_row(course.lecture) }}</td>
			</tr>
 		</div>
 		{% endfor %}
	</table>
	<br>
	{{ form_rest(form) }}
	
	<input type="submit" />
</form>

{% endblock %}