{% extends 'UCSCTimeTableBundle::layout.html.twig' %}

{% block title %}Enter Time Table{% endblock %}

{% block body %}
	<form action="{{ path('timetable',{'type':type}) }}" method="post" {{ form_enctype(form) }}>
	     {{ form_widget(form) }}
	     		
	    <input type="submit" />
	</form>
	
	{% if method == 'post' %}
	<form action="{{ path('submittable',{'type':type,'degree':degree,'year':year,'sem':sem,'aid':aid}) }}" method="post" {{ form_enctype(form1) }}>
	     
	     <table border="1">
			<tr>
				<th>Time Slot</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</tr>
			{% set form_slot = form1.slots %}
			{% for i in 0..9 %}
			<div>
 				<tr>
 					<td>
 					{{ cycle(['8.00AM-9.00AM', '9.00AM-10.00AM','10.00AM-11.00AM',
					'11.00AM-12.00AM','12.00AM-1.00PM','1.00PM-2.00PM','2.00PM-3.00PM',
					'3.00PM-4.00PM','4.00PM-5.00PM','5.00PM-6.00PM'], loop.index-1) }}
					</td>
				{% for j in 0..4 %}
   					{% set id = j*10+i %}
   					<td>
   					{{ form_widget(form_slot[id].ayearcourse, { 'id': 'timeslot_field' }) }}
   					{{ form_widget(form_slot[id].type, { 'id': 'timeslot_field' }) }}
   					{{ form_widget(form_slot[id].hall, { 'id': 'timeslot_field' }) }}
   					</td>
				{% endfor %}
				</tr>
 			</div>
			{% endfor %}
		</table>
		
	{{ form_rest(form1) }}
	<input type="submit" />
	
	
	</form>
	
	{% endif %}
{% endblock %}